name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Update pkg.go.dev
        run: |
          VERSION=$(git describe --tags)
          curl https://proxy.golang.org/github.com/yejune/gotossr/@v/${VERSION}.info
          curl -X POST https://pkg.go.dev/fetch/github.com/yejune/gotossr@${VERSION}
