name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Test Fiber example
        run: |
          cd examples/frontend && npm install && cd ../..
          go test -v ./examples/fiber

      - name: Test Gin example
        run: |
          cd examples/frontend-tailwind && npm install && cd ../..
          go test -v ./examples/gin

      - name: Test Echo example
        run: |
          cd examples/frontend-mui && npm install && cd ../..
          go test -v ./examples/echo

      - name: Install Bootstrap frontend
        run: cd examples/frontend-bootstrap && npm install
